body {
    background-color: black;
}
p{
    display: inline-block;
}
h1,h4, p, label {
    color: rgb(102, 186, 102);
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  }

  a:visited {
    color: green;
  background-color: transparent;
  text-decoration: none;
  }

  a:hover {
    color: green;
  background-color: transparent;
  text-decoration: underline;
  }

  a:active {
    color: green;
  background-color: transparent;
  text-decoration: underline;
  }